<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/Circular-Education-System/css/style.css">
  </head>
  <body>
    <!-- add the menu here can make this cool later-->
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav>
    <!-- remove the cover title as every md has it anyway. -->
    <!-- <h1>{{ page.title }}</h1> -->
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>
